@charset "utf-8";
.policy {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;
}

li {
  padding: 10px;
  margin: 10px;
}

footer {
  padding: 2.5em 0 2.5em 0;
  background-color: #fdb4c6;
}

section {
  border-bottom: solid 2px #eeeeee;
}